<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Connection test</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    </head>
    <body>
        <button onclick="login()">Login</button><button onclick="logout()">Logout</button>
        <h1 id = "user_name">Logined us: My name</h1>
        <input id="session_key" type="text" placeholder="session key" />

        <button onclick="joinSession()">Join session</button>
        <button onclick="createSession()">Create session</button>
        <button onclick="processCheck()">Process check</button>

        <br>
        <h2 id = "session_data">Server response</h2>
        <div id = "messages"></div>
    
        <script>
            const user_name = document.getElementById('user_name');
            const session_key = document.getElementById('session_key');
            const session_data = document.getElementById('session_data');
            const socket = io();
            
            function print_response(data) {
                const message = document.createElement('p');
                message.textContent = data.message;
                session_data.appendChild(message);
            }

            socket.on('connect', () => {
                console.log('Connected to WebSocket');
            });

            socket.on('error', (data) => {
                console.log('Received:', data);
                print_response(data)
            })
    
            socket.on('login_success', (data) => {
                console.log('Received:', data);
                print_response(data)
                user_name.innerHTML = `Logined us: ${data.name}`;
            });

            socket.on('logout_success', (data) => {
                console.log('You are no longer connected');
                print_response(data)
                user_name.innerHTML = `Logined us: My name`;
            });
    
            socket.on('send_session_key', (data) => {
                console.log('Received:', data);
                print_response(data)
                session_key.value = data.session_key;
            });

            socket.on('user_connected', (data) => {
                console.log('Received:', data);
                print_response(data)
            });

            socket.on('send_result', data => {
                console.log(data)
                print_response(data)
            });
    
            function createSession() {
                socket.emit('create_session');
            }
            
            function joinSession() {
                socket.emit('join_session', {"session_key": session_key.value});
            }

            function processCheck(){
                socket.emit('process_check');
            }
            
            function login(){
                socket.emit('login', {"name":''})
            }

            function logout(){
                socket.emit('logout')
            }
        </script>
    </body>
</html>