<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Connection test</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    </head>
    <body>
        <button onclick="login()">Login</button><button onclick="logout()">Logout</button>
        <h1 id = "user_name">Logined us: My name</h1>
        <input id="fileInput" type="file">
        <br/>
        <input id="session_key" type="text" placeholder="session key" />

        <button onclick="joinSession()">Join session</button>
        <button onclick="createSession()">Create session</button>
        <button onclick="processCheck()">Process check</button>
        <br>

        <h2 id = "session_data">Server response</h2>
        <div id = "messages"></div>
    
        <script src="{{ url_for('static', filename='js/socket_handler.js') }}"></script>
    </body>
</html>
